<h3>Welcome to your dashboard</h3>

<div>
  <%= link_to "View Our Featured Bourbons", bourbons_path %>
</div>

<div>
  <% if current_user.admin? %>
    <%= link_to "Add a new bourbon", new_bourbon_path %>
    <%= link_to "Add a new subscription", new_subscription_path %>
  <% end %>
</div>
